<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="net461" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="net461" />
  <package id="Ensure.That" version="5.0.0" targetFramework="net461" allowedVersions="[5.0.0]" />
  <package id="FluentValidation" version="7.5.2" targetFramework="net461" />
  <package id="Humanizer.Core" version="2.2.0" targetFramework="net461" />
  <package id="Humanizer.Core.sv" version="2.2.0" targetFramework="net461" />
  <package id="Ninject" version="3.3.4" targetFramework="net461" />
  <package id="StyleCop.Analyzers" version="1.0.2" targetFramework="net461" developmentDependency="true" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.4.1" targetFramework="net461" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="TrieNet" version="1.0.3.26316" targetFramework="net461" />
</packages>