<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

  <?ifndef INSTALLERVERSION ?>
  <?define INSTALLERVERSION="0.0.1.0" ?>
  <?endif ?>

  <Product Id="e644ea3a-a90b-4913-83ed-d6f55fdc0d49"
           Name="Overseer $(var.INSTALLERVERSION)"
           Language="1033"
           Codepage="1252"
           Version="$(var.INSTALLERVERSION)"
           Manufacturer="Logikfabrik"
           UpgradeCode="ed8983db-d29e-452d-aa49-773792d344da">

    <Package Id="*"
             InstallerVersion="200"
             Compressed="yes"
             InstallScope="perMachine"
             Description="Overseer is a Windows task bar app for build notifications."/>

    <MajorUpgrade DowngradeErrorMessage="A newer version of Overseer is already installed." />

    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <PropertyRef Id="WIX_IS_NETFRAMEWORK_46_OR_LATER_INSTALLED" />

    <Condition Message="Overseer requires the .NET Framework 4.6 to be installed.">
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_46_OR_LATER_INSTALLED]]>
    </Condition>

    <Feature Id="ProductFeature"
             Title="Overseer"
             Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="AttributionComponents" />
      <ComponentGroupRef Id="ProductShortcuts" />
    </Feature>

    <UIRef Id="WixUI_InstallDir" />

    <WixVariable Id="WixUILicenseRtf" Value="LICENSE.rtf" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <Directory Id="TARGETDIR" Name="SourceDir">

      <Directory Id="ProgramFilesFolder">
        <Directory Id="ManufacturerFolder" Name="Logikfabrik">
          <Directory Id="INSTALLFOLDER" Name="Overseer">
            <Directory Id="AttributionFolder" Name="Attribution">
              <Directory Id="CacheManagerFolder" Name="CacheManager" />
              <Directory Id="Caliburn.MicroFolder" Name="Caliburn.Micro" />
              <Directory Id="Castle.CoreFolder" Name="Castle.Core" />
              <Directory Id="Ensure.ThatFolder" Name="Ensure.That" />
              <Directory Id="EntypoFolder" Name="Entypo" />
              <Directory Id="FluentValidationFolder" Name="FluentValidation" />
              <Directory Id="HumanizerFolder" Name="Humanizer" />
              <Directory Id="Newtonsoft.JsonFolder" Name="Newtonsoft.Json" />
              <Directory Id="NinjectFolder" Name="Ninject" />
              <Directory Id="SerilogFolder" Name="Serilog" />
            </Directory>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Logikfabrik" />
      </Directory>

      <Directory Id="DesktopFolder" />

    </Directory>

    <ComponentGroup Id="ProductShortcuts" Directory="ApplicationProgramsFolder">
      <Component Id="ProductShortcut" Guid="b1302ead-22c3-4e97-b216-51dedcc92158">

        <Shortcut Id="DesktopFolderShortcut"
                  Directory="DesktopFolder"
                  Name="Overseer"
                  Target="[!Overseer.exe]"
                  WorkingDirectory="INSTALLFOLDER" />

        <Shortcut Id="ProgramMenuShortcut"
                  Directory="ApplicationProgramsFolder"
                  Name="Overseer"
                  Target="[!Overseer.exe]"
                  WorkingDirectory="INSTALLFOLDER" />

        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />

        <RegistryValue Root="HKCU"
                       Key="Software\Logikfabrik\Overseer"
                       Name="installed"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />

      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent" Guid="d2f851dd-77aa-42fe-8b4c-87bcd75f0dcc">
        <File Source="$(var.Logikfabrik.Overseer.WPF.Client.TargetDir)CacheManager.Core.dll" />
        <File Source="$(var.Logikfabrik.Overseer.WPF.Client.TargetDir)CacheManager.SystemRuntimeCaching.dll" />
        <File Source="$(var.Logikfabrik.Overseer.WPF.Client.TargetDir)Caliburn.Micro.dll" />
        <File Source="$(var.Logikfabrik.Overseer.WPF.Client.TargetDir)Caliburn.Micro.Platform.Core.dll" />
        <File Source="$(var.Logikfabrik.Overseer.WPF.Client.TargetDir)Caliburn.Micro.Platform.dll" />
        <File Source="$(var.Logikfabrik.Overseer.WPF.Client.TargetDir)Castle.Core.dll" />
        <File Source="$(var.Logikfabrik.Overseer.WPF.Client.TargetDir)Ensure.That.dll" />
        <File Source="$(var.Logikfabrik.Overseer.WPF.Client.TargetDir)FluentValidation.dll" />
        <File Source="$(var.Logikfabrik.Overseer.WPF.Client.TargetDir)Humanizer.dll" />
        <File Source="$(var.Logikfabrik.Overseer.WPF.Client.TargetDir)Logikfabrik.Overseer.dll" />
        <File Source="$(var.Logikfabrik.Overseer.WPF.Client.TargetDir)Logikfabrik.Overseer.WPF.dll" />
        <File Source="$(var.Logikfabrik.Overseer.WPF.Client.TargetDir)Logikfabrik.Overseer.WPF.Provider.AppVeyor.dll" />
        <File Source="$(var.Logikfabrik.Overseer.WPF.Client.TargetDir)Logikfabrik.Overseer.WPF.Provider.CircleCI.dll" />
        <File Source="$(var.Logikfabrik.Overseer.WPF.Client.TargetDir)Logikfabrik.Overseer.WPF.Provider.Codeship.dll" />
        <File Source="$(var.Logikfabrik.Overseer.WPF.Client.TargetDir)Logikfabrik.Overseer.WPF.Provider.Jenkins.dll" />
        <File Source="$(var.Logikfabrik.Overseer.WPF.Client.TargetDir)Logikfabrik.Overseer.WPF.Provider.TeamCity.dll" />
        <File Source="$(var.Logikfabrik.Overseer.WPF.Client.TargetDir)Logikfabrik.Overseer.WPF.Provider.VSTeamServices.dll" />
        <File Source="$(var.Logikfabrik.Overseer.WPF.Client.TargetDir)Newtonsoft.Json.dll" />
        <File Source="$(var.Logikfabrik.Overseer.WPF.Client.TargetDir)Ninject.dll" />
        <File Source="$(var.Logikfabrik.Overseer.WPF.Client.TargetDir)Ninject.Extensions.Factory.dll" />
        <File Source="$(var.Logikfabrik.Overseer.WPF.Client.TargetDir)Ninject.Extensions.Interception.dll" />
        <File Source="$(var.Logikfabrik.Overseer.WPF.Client.TargetDir)Ninject.Extensions.Interception.DynamicProxy.dll" />
        <File Source="$(var.Logikfabrik.Overseer.WPF.Client.TargetDir)Overseer.exe" />
        <File Source="$(var.Logikfabrik.Overseer.WPF.Client.TargetDir)Overseer.exe.config" />
        <File Source="$(var.Logikfabrik.Overseer.WPF.Client.TargetDir)Serilog.dll" />
        <File Source="$(var.Logikfabrik.Overseer.WPF.Client.TargetDir)Serilog.Settings.AppSettings.dll" />
        <File Source="$(var.Logikfabrik.Overseer.WPF.Client.TargetDir)Serilog.Sinks.Console.dll" />
        <File Source="$(var.Logikfabrik.Overseer.WPF.Client.TargetDir)Serilog.Sinks.File.dll" />
        <File Source="$(var.Logikfabrik.Overseer.WPF.Client.TargetDir)Serilog.Sinks.RollingFile.dll" />
        <File Source="$(var.Logikfabrik.Overseer.WPF.Client.TargetDir)System.Net.Http.Formatting.dll" />
        <File Source="$(var.Logikfabrik.Overseer.WPF.Client.TargetDir)System.Threading.Tasks.Dataflow.dll" />
        <File Source="$(var.Logikfabrik.Overseer.WPF.Client.TargetDir)System.Windows.Interactivity.dll" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="AttributionComponents">
      <Component Id="CacheManagerLicense" Directory="CacheManagerFolder" Guid="ddc11997-12a0-44c9-beab-8093c9cee92d">
        <File Source="Attribution\CacheManager\LICENSE.txt" Id="CacheManagerLicenseFile" />
      </Component>
      <Component Id="Caliburn.MicroLicense" Directory="Caliburn.MicroFolder" Guid="a8e3f49a-dacf-4e34-ba61-e5ea6db7cb5e">
        <File Source="Attribution\Caliburn.Micro\LICENSE.txt" Id="Caliburn.MicroLicenseFile" />
      </Component>
      <Component Id="Castle.CoreLicense" Directory="Castle.CoreFolder" Guid="7695da7e-c662-48c8-93f3-a9617fd14134">
        <File Source="Attribution\Castle.Core\LICENSE.txt" Id="Castle.CoreLicenseFile" />
      </Component>
      <Component Id="Ensure.ThatLicense" Directory="Ensure.ThatFolder" Guid="11a092ed-0803-41fc-a165-785109384fd1">
        <File Source="Attribution\Ensure.That\LICENSE.txt" Id="Ensure.ThatLicenseFile" />
      </Component>
      <Component Id="EntypoLicense" Directory="EntypoFolder" Guid="cb651fd7-8093-4bec-b096-4bc419d16ffd">
        <File Source="Attribution\Entypo\LICENSE.txt" Id="EntypoLicenseFile" />
      </Component>
      <Component Id="FluentValidationLicense" Directory="FluentValidationFolder" Guid="d1af2b87-b51d-4e4c-8061-4cb00e2ab7c5">
        <File Source="Attribution\FluentValidation\LICENSE.txt" Id="FluentValidationLicenseFile" />
      </Component>
      <Component Id="HumanizerLicense" Directory="HumanizerFolder" Guid="eafd71d5-f786-4e7b-9614-fbfdd4cd15bc">
        <File Source="Attribution\Humanizer\LICENSE.txt" Id="HumanizerLicenseFile" />
      </Component>
      <Component Id="Newtonsoft.JsonLicense" Directory="Newtonsoft.JsonFolder" Guid="8b217526-51ac-42fd-a79c-5620ffa173f3">
        <File Source="Attribution\Newtonsoft.Json\LICENSE.txt" Id="Newtonsoft.JsonLicenseFile" />
      </Component>
      <Component Id="NinjectLicense" Directory="NinjectFolder" Guid="fa6cde03-9f44-44ea-948a-d834a5fee97b">
        <File Source="Attribution\Ninject\LICENSE.txt" Id="NinjectLicenseFile" />
      </Component>
      <Component Id="SerilogLicense" Directory="SerilogFolder" Guid="79a0a6e5-cb83-4417-9a4d-a14eb00d735f">
        <File Source="Attribution\Serilog\LICENSE.txt" Id="SerilogLicenseFile" />
      </Component>
    </ComponentGroup>
  </Product>

</Wix>